<h2 class="my-5">Заказ не был обработан, потому что ваша корзина пуста!</h2>

<img src="~/img/Cart.png" alt="Cart" />

<p><a class="btn btn-lg btn-light w-100 my-5 container-fluid" data-bs-dismiss="modal" asp-area="" asp-controller="Home" asp-action="Index">Перейти на главную</a></p>

